.hamburger {
  @include media-query(lap-and-up) {
    display: none;
  }

  display: inline-block;

  $hamburger-stroke: 5;
  $hamburger-spacing: 3;

  $hamburger-width: 4 * ($hamburger-stroke + $hamburger-spacing);
  $hamburger-height: 3 * $hamburger-stroke + 2 * $hamburger-spacing;

  width: $hamburger-width * 1px;
  height: $hamburger-height * 1px;

  $s1-x1: 0;
  $s1-x2: $hamburger-width;
  $s1-y1: $hamburger-stroke/2;
  $s1-y2: $hamburger-stroke/2;
  $s2-x1: 0;
  $s2-x2: $hamburger-width;
  $s2-y1: $hamburger-stroke/2 + ($hamburger-stroke + $hamburger-spacing);
  $s2-y2: $hamburger-stroke/2 + ($hamburger-stroke + $hamburger-spacing);
  $s3-x1: 0;
  $s3-x2: $hamburger-width;
  $s3-y1: $hamburger-stroke/2 + 2*($hamburger-stroke + $hamburger-spacing);
  $s3-y2: $hamburger-stroke/2 + 2*($hamburger-stroke + $hamburger-spacing);

  background-image: url('data:image/svg+xml,<svg height="32" width="32" xmlns="http://www.w3.org/2000/svg"> <line x1="0" y1="2.5" x2="32" y2="2.5" style="stroke:#fff;stroke-width:5"/> <line x1="0" y1="10.5" x2="32" y2="10.5" style="stroke:#fff;stroke-width:5"/> <line x1="0" y1="18.5" x2="32" y2="18.5" style="stroke:#fff;stroke-width:5"/> </svg>');
}

.hamburger__text {
  @include visuallyhidden;
}
