.header {
  text-align: center;
}
.header__box {
    padding: 0 $inuit-base-spacing-unit $inuit-base-spacing-unit $inuit-base-spacing-unit;
}
.header__logo {
    font-size: 1.354404738 * $font-size-1;
    // margin-top: 0;
}
.header__intro {
    // @include inuit-font-size($font-size-3);
    // @include font-weight(thin);
}
