.twitter {
  display: none;
  left: $inuit-base-spacing-unit;
  top: $inuit-base-spacing-unit;
  position: absolute;
  width: 32px;
}
.twitter--landing {
  display: block;
  @include media-query(lap-and-up) {
    display: none;
  }
}


.twitter__path {
  fill: white
}

.twitter__text {
  @include visuallyhidden;
}
