.content {
  ul {
    margin:  0;
    padding: 0;
    padding-left: 0.62em;
    text-indent: -0.62em;
    list-style-position: inside;
    list-style: none;
    li:before {
      content: '- ';
    }
  }
  @include media-query(lap-and-up) {
    text-align: center;
  }
}


.content--all-centered {
  text-align: center;
}
