.negative {
  color: $color-brand-inverted;
  background-color: $color-brand;
  &:before {
    content: '';
    display: block;
    height: 1px;
    margin-top: -1px;
  }

  a {
    @include attention(true) {
      color: $color-brand-inverted;
    }
  }
}
