li.navigation__list-item
  a(href='#') Venue
li.navigation__list-item
  a(href='#') Schedule
li.navigation__list-item
  a(href='#') Call for paper form
li.navigation__list-item
  a(href='#') Information
