//- li.navigation__list-item
//-   a(href='/index.html#tickets') Tickets
//- li.navigation__list-item
//-   a(href='/venue.html') Venue
//- li.navigation__list-item
//-   a(href='sponsoring.html') Sponsoring
//- li.navigation__list-item
//-   a(href='/callforspeakers.html') Submit a talk
//- li.navigation__list-item
//-   a(href='speakerssuggestion.html') Suggest a speaker
li.navigation__list-item
  a(href='/2014') 2014
li.navigation__list-item
  a(href='/2015') 2015
//- li.navigation__list-item
//-   a(href='#') Schedule
//- li.navigation__list-item
//-   a(href='#') Information
