li.navigation__list-item
  a(href='/venue.html') Venue
li.navigation__list-item
  a(href='/sponsoring.html') Sponsoring
//- li.navigation__list-item
//-   a(href='/2014/') 2014
//- li.navigation__list-item
//-   a(href='#') Schedule
//- li.navigation__list-item
//-   a(href='#') Call for paper form
//- li.navigation__list-item
//-   a(href='#') Information
