doctype html
html
head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0, width=device-width")
    title SwissJeese 2015
    meta(name='description', content='SwissJeese, Swiss JavaScript Conference in Bern on July 18th and 19th 2015')
    link(rel='stylesheet', type='text/css', href='css/unique.css')
    link(href='https://fonts.googleapis.com/css?family=Oleo+Script:400,700', rel='stylesheet', type='text/css')
  body.homepage
    #page.clearfix
      a#event2012(href='2014/index.html', target='_blank') SJ 2014
      //- a#buyticket(href='https://www.eventbrite.com/e/swissjeese-2014-tickets-10539402637', target='_blank') Buy your ticket!
      a#follow_twitter(href='https://twitter.com/swissjs', target='_blank') Follow @SwissJS on Twitter
      #swissjeese-logo(href='/')
        span.swissjeese-logo__name SwissJS
        | July 18th and 19th 2015 in Bern
      #bear.bear
      //- span#menu1.menu-tab.selected
      //-   a(href='index.html') Home
      //- span#menu2.menu-tab
      //-   a(href='venue.html') Location
      #content.shadow.clearfix
        != yield
      div(style='clear: both;')
    div(style='clear: both;')
    #footer.clearfix
      .content
        .left
          h1 Organised by
          p.copyright
            a(href='https://twitter.com/ckuert') Christoph Kuert
            <br>
            a(href='https://twitter.com/lejoe') Joel Bez
            <br>
            a(href='https://twitter.com/shvi') Pierre Spring
        .right
          //- h1 Main-Sponsors
          //- .clearfix(style='padding: 10px 20px 20px 0;')
          //-   a.sensational.white(href='http://www.sensational.ch/', target='_blank') Sponsored by sensational
          //-   a.ginetta.white(href='http://ginetta.net/', target='_blank') Sponsored by Ginetta
          //- h1 Co-Sponsors
          //- .clearfix(style='padding: 10px 20px 20px 0;')
          //-   a.swisstxt.white(href='http://ms.swisstxt.ch/', target='_blank') Sponsored by SwissTXT Multimedia Solutions
          //-   a.freshjobs-link(href='http://freshjobs.ch', target='_blank') Freshjobs
          h1 Sponsoring
          p.sponsor-search
            | We are looking for companies that want to take advantage of the visibilty of our event. Email us at
            a(href='mailto:swissjeese@gmail.com') swissjeese@gmail.com
            | if you are interested.
        div(style='clear: both;')


    script(type='text/javascript').
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-48019754-1']);
      _gaq.push(['_trackPageview']);
      (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js')
    script(type='text/javascript', src='scripts/main.js')
    script(type='text/javascript', src='//use.typekit.net/rwq2jby.js')
    script(type='text/javascript').
      try{Typekit.load();}catch(e){}
