extend __layout.jade

block content
  .wrapper.wrapper--narrow
    .box.box--lap-and-up-larger-vertical-spacing.content
      h1 Call for speakers
      
      p We are inviting the Swiss community to submit talks for the conference.

      p The talks should be held in English and should last 30 minutes
        | plus some time for questions.
        | Your audience will be about 200 javascript enthusiasts from
        | Switzerland and around.
        

      h2.gamma Deadline
      p  If you have something to share with the Swiss JS community, submit a
        | talk until the <strong>17th of april</strong>.

    .box.content
      iframe(src="https://docs.google.com/forms/d/1Q5EvuILNK6K02VH910g5IT56HDAI73kJ5gFjuLrfW98/viewform?embedded=true" width="812" height="1630" frameborder="0" marginheight="0" marginwidth="0")
        | Loading... 