extend __layout.jade

block content
  .wrapper.wrapper--narrow
    .box.box--lap-and-up-larger-vertical-spacing.content
      h1 Call for speakers
      
      p The submission period is now closed. Thanks all for your participation.


