extend __layout.jade

block content
  .wrapper.wrapper--narrow
    .box.box--lap-and-up-larger-vertical-spacing.content
      h1 Call for speakers
      
      p We are inviting the swiss community to submit talks for the conference.

      p The talks should be held in english and should last 30min minutes
        | plus some time for questions.
        | Your audience will be about 200 javascript enthousiasts from
        | Switzerland and around. 

      h2.gamma Deadline
      p You can submit your talks until the <strong>17th of may</strong>. We will contact you
        | the following week to let you know.


    

    .box.content
      iframe(src="https://docs.google.com/forms/d/1kISe7SljorhJ3TBsOFYL4JdEX15xD0bVyV3x739LtvA/viewform?embedded=true" width="812" height="1530" frameborder="0" marginheight="0" marginwidth="0")
        | Loading...