extend __layout.jade
block navigation

block footer

block content
  .header.header--full.negative
    .header__box
      .logo.header__logo
        h1.logo__title.logo__title--header
          span.logo__swiss Swiss
          span.logo__js JS
      p.header__intro
        | SwissJS is a Swiss JavaScript
        br
        | community event for and by locals. 
      p.header__intro
        | Past editions:      
      a(href='/2014') 2014
      | 
      a(href='/2015') 2015