extend __layout.jade

block content
  .wrapper.wrapper--narrow
    .box.box--lap-and-up-larger-vertical-spacing.content
      h1 Lightning talks
      
      h3 The format:
      p Lightning talks is one of the most loved format of the event. Anyone gets a chance to talk about his pet project, a cool technique he wants to share or the 

      p The speaker has 10min to present his topic. After 10min he will be interupted to let the next speaker take the stage.

      h3 The submission:
      p You can submit a talk until the same day of the event. There's 4 to 8 slots available. First come, first served.

      p You still need a ticket to attend the event. Besides the 10min of fame you will get a small thank you reward for your talk.

      h3 The rules:
      ul
        li No selling / marketing talk.
        li Respect our code of conduct.


    
    .box.content
      iframe(src="https://docs.google.com/forms/d/1R3n6r7cr5vm7PpkyD67pPoYDN3KaklIvd2pUG5D1UDc/viewform?embedded=true" width="812" height="800" frameborder="0" marginheight="0" marginwidth="0")
        | Loading... 

