extend __layout.jade

block content
  .wrapper.wrapper--narrow
    .box.content.box--lap-and-up-larger-vertical-spacing
      h1 Here's the plan of the day:
    
    .box.content
      h3 {09h00 - 10h00}: Coffee

    hr
    .box.content.negative
      h3 {10h00 - 10h15}: Welcome talk

    hr
    .box.content.negative
      a(href="https://twitter.com/GionKunz")
        img(src="../media/speakers/gion.jpg" width="200" height="200" alt="Gion Kunz")
      h3 {10h15 - 11h00}: Gion Kunz
      h1 AngularJS 2 - A Glance Into the Future
      p.
        During this talk, Gion will show you the core concepts of AngularJS 2 and why he believes it will play a major role in combining web standards of the future into a highly efficient framework for large web applications. There is a big controversy about the radical redesign AngularJS was going through in it's latest version. Together we will look at the reasons behind some core decisions made in the upcoming Framework and you have the opportunity to take a look at current developments.

    hr
    .box.content.negative
      h3 {11h00 - 11h45}: TDB

    hr
    .box.content.negative
      a(href="https://twitter.com/stephband")
        img(src="../media/speakers/stephen.jpg" width="200" height="200" alt="Stephen Band")
      h3 {11h45 - 12h30}: Stephen Band
      h1 Creating UIs for the Web Audio API
      p.
        The Web Audio API gives us the power to manipulate an audio processing graph using JavaScript. The audio itself runs in a separate thread, which presents some unique challenges. Stephen discusses how to create UIs that control and reflect the state of the audio graph, and attempts to show that the browser is becoming a creative environment for live performance.

    hr
    .box.content.box--lap-and-up-larger-vertical-spacing
      h3 {12h30 - 13h30}: Lunch

    hr
    .box.content.negative
      h3 {13h30 - 14h15}: Ligthning talks

    hr
    .box.content.negative
      a(href="https://twitter.com/stefffi")
        img(src="../media/speakers/stefanie.jpg" width="200" height="200" alt="Stefanie Taepke")
      h3 {14h15 - 15h00}: Stefanie Taepke
      h1 Location-based Pokémon with NodeJs
      p.
        Pokémon for the GameBoy was one of Nintendos most successful Role Play Games in the late 90s. Even though gaming today is on a different level and can make use of so many new features and possibilities, the Pokémon-fan base is still big and growing. But why not combining new technology with this game classic and play it on the next level?
      p.
        As Stefanie still loves the Pokémon world, she wants to talk about how she developed a prototype for a location-based Pokémon Game for Mobile devices with NodeJs.

    hr
    .box.content.negative
      h3 {15h00 - 15h45}: TBD

    hr
    .box.content.box--lap-and-up-larger-vertical-spacing
      h3 {15h45 - 16h00}: Coffee

    hr
    .box.content.negative
      a(href="https://twitter.com/hexapode")
       img(src="../media/speakers/pierre.jpg" width="200" height="200" alt="Pierre-Loic Doulcet")
      h3 {16h00 - 16h45}: Pierre-Loic Doulcet
      h1 The dawn of JS for Big Data
      p.
        Today, Big Data Analysis is mostly done in R/Python/Java. In this talk we will explore what roles can Javascript play in this ecosystem and how you can start to use data science in javascript today.
      p.
        The talk will cover the current available tools and library available to javascript developer today and will try to give a glimpse at what the future will look when we will work with JavaScript at the Exabyte scale.

    hr
    .box.content.negative
      a(href="https://twitter.com/pilif")
        img(src="../media/speakers/philip.jpg" width="200" height="200" alt="Philip Hofstetter")
      h3 {16h45 - 17h30}: Philip Hofstetter
      h1 This talk lasts 三十分钟
      p.
        Internationalisation (I18n) is so complicated to get right that people are even afraid of spelling it out. It's also deceptive in that you think you got it just right before you're met with a rude awakening as you learn that everything you thought you knew isn't even enough to know that you don't know anything.

      p.
        We're in Switzerland where we're lucky enough to deal with four languages and at least three distinct locales, so if we're developing software, we know how to get this right… Right? 

      p.
        In his talk, Philip is going to tell you that even though you knew a lot about internationalisation, it's not enough and you can still do better. We'll also be looking at how the big companies also get it wrong and we'll see how some of it is probably impossible to get right.

    hr
    .box.content.box--lap-and-up-larger-vertical-spacing
      h3 {17h30 - … }: After

  hr
  
  +sponsors()
