extend __layout.jade

block content
  .wrapper.wrapper--narrow

    .box.content
      iframe(src="https://docs.google.com/forms/d/1Dk1o_LGupJBNYzJmWSYEqYeA9T33Bl_HiKZm9PfuqSk/viewform?embedded=true" width="812" height="900" frameborder="0" marginheight="0" marginwidth="0")
        | Loading...