extend __layout.jade

block content
  .wrapper
    h1 hello
    p Lorem ipsum dolor sit amet dui nulla, convallis nisl, a libero purus vitae est et tortor. Morbi sem condimentum velit. Nulla massa. Nunc viverra sodales. Vivamus metus eleifend in, commodo wisi. Morbi sit amet enim. Duis luctus a, bibendum eget, tincidunt congue. Donec pharetra sem tincidunt turpis et risus pede, at arcu. Nam suscipit, velit odio et justo. Donec porttitor auctor, ante ipsum et magnis dis parturient montes, nascetur ridiculus mus. Nunc varius vehicula. Aliquam interdum viverra. Proin volutpat elit, dictum sed, pretium pellentesque. Proin in est et velit. Mauris imperdiet felis, eleifend ac, tincidunt lorem. Suspendisse quis nisl. Vestibulum ligula. Nam consectetuer lacus. Aliquam eget magna. Vestibulum laoreet viverra. Cras faucibus orci ut quam. Mauris at diam ut diam. In purus at quam elit laoreet condimentum, pulvinar velit. Mauris et lectus. Vivamus fermentum pede, nec diam ut leo sit amet augue ut viverra accumsan. Proin imperdiet aliquam enim sit amet, consectetuer sagittis ac, semper id, justo. Pellentesque ante. Proin at eros. Curabitur interdum. Donec a augue eget dolor urna, egestas ve
