extend __layout.jade

block content
  .wrapper.wrapper--narrow
    .box.box--lap-and-up-larger-vertical-spacing.content
      h1 Getting there
      
      p <strong>Zentrum für Kulturproduktion /</strong> Waisenhausplatz 30, 3011 Bern
      
      div <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=7.439224720001221%2C46.94865829339229%2C7.447904348373412%2C46.952210352786736&amp;layer=mapnik&amp;marker=46.95043435255672%2C7.443564534187317" style="border: 1px solid black"></iframe><br/><small><a href="http://www.openstreetmap.org/?mlat=46.95043&amp;mlon=7.44356#map=18/46.95043/7.44356">see larger map</a></small>
      
    hr
      
    .box.box--lap-and-up-larger-vertical-spacing.content
      h2.beta Sponsors
      
      p If you want to support this year's event find more information in the 
        a(href='/sponsoring.html') Sponsoring
        |  section.