/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here	that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html, body {  margin: 0;  padding: 0; height:100%;}

h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,em,img,q,s,samp,small,
strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,button,table,caption,
tbody,tfoot,thead,tr,th,td {margin: 0;padding: 0;border: 0;font-weight: normal;font-style: normal;font-size: 100%;line-height: 1;font-family: inherit;}

table {border-collapse: collapse;border-spacing: 0;}

ol, ul {list-style: none;}

q:before,q:after,blockquote:before,blockquote:after {content: "";}

header,section,footer,article,aside {display: block;}

a {text-decoration:none;color:#000;}



/*
 * Variables and mixins to pre-ignite any new web development project
 * ------------------------------------------------------------------ */

.clearfix {zoom: 1;}
.clearfix:before, .clearfix:after {display: table;content: "";}
.clearfix:after {clear: both;}

.center-block {display: block;margin: 0 auto;}


body,ul,li {
	padding:0;
	margin:0;
	border:0;
}

body {
	font-size:14px;
	background:#672f13 url('../images/backgrounds/wood_802x1048.jpg') repeat left top;
    font-family: Helvetica, Arial, Sans-Serif;
    color: #fff;
    text-align:center;
    line-height:150%;
}

#page {
    position:relative;
    width:960px;
    margin:0 auto;
    min-height:300px;
}

#content {
    position:relative;
    top:300px;
    background:#f0e9e1;
    border-radius:10px 10px 0 0;
    min-height:500px;
    text-align:left;
    color:#000;
    padding:56px;
    z-index:2;
}

.shadow {
  -moz-box-shadow:    0 5px 6px 6px #000;
  -webkit-box-shadow: 0 5px 6px 6px #000;
  box-shadow:         0 5px 6px 6px #000;
}    

span.menu-tab {
    position:absolute;
    top:254px;
    left:0px;
    height:54px;
    width:196px;
    float:left;
    display:block;
    border-radius:10px 10px 0 0;
    background:#f09800;
    margin-right:4px;
    z-index:1;
    font-family: 'Oleo Script', cursive;
    font-size:24px;
}

#menu1 {left:0;}
#menu2 {left:205px;}
#menu3 {left:410px;}

span.menu-tab.selected {
    background:#f0e9e1;
    z-index:8;
}

span.menu-tab a {
    display:block;
    width:100%;
    line-height:48px;
}

span.menu-tab.off a {
    color:#c87f01;
}

p {
    padding:5px 20px 0;
    font-family: Helvetica, Arial,  Sans-Serif;
	font-size:1em;
    line-height:150%;
    color:#3f3a3b;
}

p strong {
    font-weight:bold;
}

p a {
    color:#0000ff;
    text-decoration:underline;
}

h1 {
    padding:10px 20px 5px;
    font-family: 'Oleo Script', cursive;
    color:#3f3a3b;
    line-height:150%;
    font-size:36px;
}

div.event .title {
    font-family: 'Oleo Script', cursive;
    color:#f09800;
    background: #000;
    padding:10px 20px;
    border-radius:5px;
    font-size:28px;
    margin:40px 0 20px;
    line-height:28px;
}

div.event .title a {
    color:#f09800;
}

div.event .title span.time {
    color:#fff;
    font-size:20px;
    font-family: Helvetica, Arial,  Sans-Serif;
    float:right;
    font-weight:bold;
}

div.event.simple .title {
    color:#000;
    background: #f09800;
}

div.event.simple .title span.time {
    color:#000;
}

div.event div.speaker {
    padding:5px 20px;
    width:30%;
    float:left;
    font-size:10px;
}

div.event div.speaker img {
    border:8px solid #000;
}

div.event div.talk {
    padding:5px 20px;
    width:60%;
    float:right;
    line-height: 150%;
    color:#3f3a3b;
}

div.talk h2 {
    font-size:20px;
    font-weight:bold;
    margin:0 0 20px 0;
}


#footer {
    position:relative;
    background:#000;
    width:100%;
    height:300px;
    margin-top:300px;
    padding-top:40px;
}


#footer .content {
    width:960px;
    margin:0 auto;
    text-align:left;
}

#footer .content .left {
    width:30%;
    float:left;
}

#footer .content h1 {
    padding:10px 0 5px;
    margin:0 0 15px;
    color:#cfc0af;
    font-size:24px;
    border-bottom:1px solid #cfc0af;
    
}


#footer .content .right {
    width:65%;
    float:right;
}

#footer .copyright{
    width:100%;
    color:#666;
    font-size:0.7em;
    margin:30px 0;
    text-align:center;
}


.venue {

}

.venue .left{
    width: 38%;
    float:left;
}

.venue .right {
    width: 58%;
    float:right;
}

p.sponsor-search {color:#cfc0af;font-size:1.1em;}